body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.hero-and-header {
    background-color: #1F2937;
    padding: 20px 0;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Match alignment with hero section */
    align-items: center;
    margin: 0 48px; /* Same margin as hero */
    padding: 10px 0;
}

#header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 20px;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between; /* Align hero like header */
    align-items: center;
    margin: 0 48px; /* Match header margin */
    padding: 50px 0;
}

.hero1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 50%;
    justify-content: center;
    align-items: flex-start;
}

.hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    width: 500px;
    height: 250px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #3882F6;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
}
#hero-main-text {
    font-size: 48px;
    font-weight:900;
    color:#F9FAF8;
    padding:0;
    margin:0;
}
#hero-secondary-text {
    font-size:18px;
    color:#E5E7EB;
    padding:0;
    margin:0;
}